.register{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3e467f75;
}

.register form{
    background: #95efce;
    color: #3e467f;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 5px;
}

.register form h1{
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}

.register form input{
    width: 20rem;
    height: 2.5rem;
    font-size: 1.1rem;
    padding-left: 1rem;
    background-color: #2ea0d964;
    outline: none;
    border: none;
    color: #3e467f;
    border-bottom: 0px solid #3e467f;
    transition:  0.2s;
}

.register form input:focus{
    border-bottom: 2px solid #3e467f;
    transition:  0.2s;
}

.register form input::placeholder{
    color: #3e467f5a;
}

.register form .mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: .3rem;
}

.register form button{
    background-color: #3e467f;
    border: none;
    color: #95efce;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 15px 0;
    cursor: pointer;
    padding: .6rem 1.2rem;
    border-radius: 5px;
}

.register form .err{
    color: #c32626;
}

.register form .check{
    width: .8rem;
    height: .8rem;
}

@media only screen and (max-width: 1007px){
    .register form{
        padding: 4rem 3rem;
        gap: 1.2rem;
        width: fit-content;
    }
    
    .register form h1{
        font-size: 1.8rem;
    }
    
    .register form input{
        width: 30rem;
    }
    
    .register form .err{
        color: #c32626;
    }
}
@media only screen and (max-width: 640px) {
    .register form{
        padding: 2rem 1rem;
        border-radius: 5px;
    }
    .register form input{
        width: 18rem;
        height: 2.5rem;
    }
    .register form p a{
        display: block;
    }
}